body {
    background-image: url(./imagenes/fondo.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: content-box;
}

.movilfirst {
    display: none;
}

.desktop {
    display: block;
}

.barraHome {
    display: grid;
    background-color: white; 
    height: 90px;
    grid-template-columns: 1fr 1fr 1fr;

}

.opcionesInicio a,.opcionesRegistro a {
    background-color: rgba(161, 5, 0, 0.79);
    border: none;
    padding: 10px;
    border-radius: 22px;
    margin-top:10px ;
    margin: 0 20px;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 100%;
    border-color: transparent;
    text-decoration: none;
    grid-column: 2/4;
}

.opcionesInicio button { 
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-radius: 22px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 25vw;
}
.opcionesRegistro button {
    margin-right: 0%;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    border-radius: 22px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 25vw;
}

.opcionesInicio,.opcionesRegistro {
    margin: 10px 20px;
}
#logoDesktop{
    margin:0 30px;
}

.contenidoHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textoIntro{
    grid-column: 1/2 ;
    margin: 20px;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 50px;
    font-weight: bold;
    font-size: x-large;
}
.textoIntro button{
    background-color: rgba(161, 5, 0, 0.79);
    border: none;
    padding: 10px;
    border-radius: 22px;
    margin-top: 300em; ;
    margin: 0 20px;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 100%;
    border-color: transparent;
    text-decoration: none;
    width: 50%;

}
.imagenHome{
    grid-column: 2/3;
    margin-left: 0%;
    padding: 0%;
    justify-content: center;
    align-content: center;
}
.imagenHome img{
    width:80%;
    margin: 0%;
    padding: 0%;
}
.registrarse{
    display: none;
}
.contenedorRegistro{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: small;
}
.registro {
    display: flex;
    font-family: 'Cormorant Garamond', serif;
    
    font-weight: bold;
    grid-template-rows: 1fr;
    row-gap: 5em;
    background-color: rgba(161, 5, 0, 0.79);
    height: 90%;
    width: 70%;
    justify-content: center;
    align-content: center;
    margin:5% 10% 5% 5%;
}
.fecha {
    display: grid;
    justify-content: center;
}
.superior {
    display: grid;
    grid-template-rows: 1fr;
}
.botonRegistro {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}
.inputsRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.grupo {
    position: relative;
    margin: 45px;
}
.grupo input {
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 2px solid white;
}
.grupo input:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.90);
}
.grupo label {
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}
.grupo input:focus~label,
input:valid~label {
    top: -14px;
    font-size: 15px;
}
.checkboxRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.contenedorinputreregistro {
    display: grid;
    row-gap: 2em;
    grid-template-rows: 1f ;
    padding-top: 3em;
    padding-bottom: 2em;
}
.inicioGoogle {
    display: grid;
    width: 60%;
    height: 100%;
    grid-template-columns: 35% 65%;
    justify-self: center;
    justify-items: center;
    align-items: center;
    background-color: white;
}
.tituloRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.registroGoogle {
    justify-self: start;
    font-size: large;
    font-weight: bold;
}
.inputRegistrarse {
    border-color: transparent transparent white transparent;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    background-color: transparent;
    font-size: 1.5em;
}
 ::placeholder {
    color: rgb(247, 242, 219);
}
.registerbtn {
    display: flex;
    background-color: white;
    color: rgb(138, 22, 22);
    height: 110%;
    width: 30%;
    border-radius: 5em;
    border: none;
    justify-content: center;
    text-decoration: none;
}
.registerbtn button {
    background-color: transparent;
    border: none;
    border-radius: 22px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: x-large;
    cursor: pointer;
    color: rgb(138, 22, 22);
    font-weight: bold;
}
.inferior {
    display: grid;
    grid-template-rows: 1.3fr 1fr 2fr;
    row-gap: 1em;
}
#start {
    font-size: 1.2em;
}

@media only screen and (max-width: 700px) {
    .imagenHome{
        display: none;
    }
    .movilfirst {
        display: block;
    }
    .desktop {
        display: none;
    }
    #logo {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .opcionesInicio a{
        grid-template-rows: 2/4;
        width: 40%;
        margin-top: 50px;
        margin-left: 5px;
        padding:0%;
        text-align: center;
    }
    .opcionesInicio button { 
        text-align: center;
        font-family: 'Cormorant Garamond', serif;
        justify-content: center;
        padding-bottom: 5px;
    }
    .opcionesInicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        position: sticky;
        padding-left: 20px;
    }
        * {
            box-sizing: border-box
        }
        /* AQUI COMIENZA LA SECCION DE REGISTRO*/

        .contenedorRegistro{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-content: center;
            font-size: small;
        }
        .registro {
            display: grid;
            font-family: 'Cormorant Garamond', serif;
            font-weight: bold;
            grid-template-rows: 1fr;
            row-gap: 5em;
            background-color: rgba(161, 5, 0, 0.79);
            margin: 0%;
            width: 100%;
            height: 100%;
        }
        .fecha {
            display: grid;
            justify-content: center;
        }
        .superior {
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
        .botonRegistro {
            display: flex;
            justify-content: center;
            padding-bottom: 3em;
        }
        .inputsRegistro {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grupo {
            position: relative;
            margin: 45px;
        }
        .grupo input {
            background: none;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 90%;
            border: none;
            border-bottom: 2px solid white;
        }
        .grupo input:focus {
            outline: none;
            color: rgba(0, 0, 0, 0.90);
        }
        .grupo label {
            color: black;
            font-size: 20px;
            position: absolute;
            bottom: 0;
            left: 5px;
            top: 10px;
            transition: 0.5s ease all;
            pointer-events: none;
        }
        .grupo input:focus~label,
        input:valid~label {
            top: -14px;
            font-size: 15px;
        }
        .checkboxRegistro {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
        .contenedorinputreregistro {
            display: grid;
            row-gap: 2em;
            grid-template-rows: 1fr 1fr 1fr 3fr 1 fr 1 fr;
            padding-top: 3em;
            padding-bottom: 2em;
        }
        .inicioGoogle {
            display: grid;
            width: 90%;
            height: 80%;
            grid-template-columns: 35% 65%;
            justify-self: center;
            justify-items: center;
            align-items: center;
            background-color: white;
        }
        .tituloRegistro {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            cursor: pointer;
            color: white;
            font-weight: bold;
        }
        .registroGoogle {
            justify-self: start;
            font-size: 1.2em;
            font-weight: bold;
        }
        .inputRegistrarse {
            border-color: transparent transparent white transparent;
            font-family: 'Cormorant Garamond', serif;
            font-weight: bolder;
            background-color: transparent;
            font-size: 1.5em;
        }
         ::placeholder {
            color: rgb(247, 242, 219);
        }
        .registerbtn {
            display: flex;
            background-color: white;
            color: rgb(138, 22, 22);
            height: 110%;
            width: 30%;
            border-radius: 5em;
            border: none;
            justify-content: center;
            text-decoration: none;
        }
        .registerbtn button {
            background-color: transparent;
            border: none;
            border-radius: 22px;
            text-align: center;
            font-family: 'Cormorant Garamond', serif;
            font-size: x-large;
            cursor: pointer;
            color: rgb(138, 22, 22);
            font-weight: bold;
        }
        .inferior {
            display: grid;
            grid-template-rows: 1.3fr 1fr 2fr;
            row-gap: 1em;
        }
        #start {
            font-size: 1.2em;
        }
        /* AQUI TERMINA LA SECCION DE REGISTRO*/
        /*AQUI COMIENZA INICIO*/
        #inicio {
            display: none;
            font-family: 'Cormorant Garamond', serif;
            font-weight: bold;
            row-gap: 5em;
            background-color: rgba(161, 5, 0, 0.79);
            height: 100vh;
            justify-content: center;
            align-items: center;
            margin-top: 0%;
        }
        .formulario h1 {
            text-align: center;
            font-size: x-large;
            font-family: 'Cormorant Garamond', serif;
            font-weight: bold;
        }
        .grupo {
            position: relative;
            margin: 45px;
        }
        .grupo input {
            background: none;
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 90%;
            border: none;
            border-bottom: 2px solid white;
        }
        .grupo input:focus {
            outline: none;
            color: rgba(0, 0, 0, 0.90);
        }
        .grupo label {
            color: black;
            font-size: 20px;
            position: absolute;
            bottom: 0;
            left: 5px;
            top: 10px;
            transition: 0.5s ease all;
            pointer-events: none;
        }
        .grupo input:focus~label,
        input:valid~label {
            top: -14px;
            font-size: 15px;
        }
        .barra {
            position: relative;
            display: block;
            width: 100%;
        }
        .formulario button {
            font-family: 'Cormorant Garamond', serif;
            background: white;
            border: none;
            border-radius: 5em;
            display: block;
            width: 80%;
            font-size: 1.5em;
            font-weight: bold;
            margin: 10px auto;
            color: A10500;
            height: 40px;
            color: #A10500;
        }
        /*AQUI TERMINA INICIO*/
        /*AQUI COMIENZA TEMPLATE DE BASE PARA MOVIL*/
        .container-barra {
            z-index: 2;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: #ffff;
            border-bottom:#888888 solid 2px;
        }
        .logo {
            grid-column: 1/2;
            width: 5vw;
            margin-top: 5px;
            margin-left: 10px;
        }
        .button-barra img {
            display: flex;
            flex-direction: row;
            width: 35vw;
            flex: 33%;
            padding: 6px 33%;
            position: sticky;
            margin-top: 10px;
        }
        .container-menu {
            z-index: 1;
            display: flex;
            background-color: #A32222;
            width: 100vw;
            bottom: 0;
            position: fixed;

        }
        .button-menu img {
            width: 15vw;
            flex: 33%;
            padding: 7px;
            margin:0 40px;
        }
        /*AQUI TERMINA TEMPLATE*/
    }
    /*COMIENZA POSTEO*/

    /* .containerForm{
        display: none;
    }  */